# Build artifacts from local-build.sh
secubox-tools/sdk/
secubox-tools/cache/
secubox-tools/build/
secubox-tools/openwrt/
secubox-tools/local-feed/

# IDE settings
.vscode/
luci-app-secubox.backup-*
.venv/


# MkDocs / GitHub Pages
##site/
.venv/
docs/.DS_Store
.ssh-askpass


.claude/settings.local.json
##package/secubox/luci-app-secubox-bonus/root/www/

openwrt# Large package files - should not be in git
package/secubox/secubox-app-bonus/root/www/secubox-feed/luci-app-secubox-bonus_*.ipk
package/secubox/secubox-app-bonus/root/www/secubox-feed/secubox-app-bonus_*.ipk
