# Build artifacts from local-build.sh
secubox-tools/sdk/
secubox-tools/cache/
secubox-tools/build/
secubox-tools/openwrt/
secubox-tools/local-feed/

# IDE settings
.vscode/
luci-app-secubox.backup-*
.venv/


# MkDocs / GitHub Pages
##site/
.venv/
docs/.DS_Store
