# Jitsi Meet Environment Template
# This file is processed by jitsctl to generate .env

CONFIG=/srv/jitsi/.jitsi-meet-cfg
HTTP_PORT=8000
HTTPS_PORT=8443
TZ=UTC

PUBLIC_URL=https://meet.example.com
XMPP_DOMAIN=meet.example.com
XMPP_SERVER=xmpp.meet.example.com
XMPP_AUTH_DOMAIN=auth.meet.example.com
XMPP_GUEST_DOMAIN=guest.meet.example.com
XMPP_MUC_DOMAIN=muc.meet.example.com
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.example.com

ENABLE_AUTH=0
ENABLE_GUESTS=1
AUTH_TYPE=internal

JICOFO_COMPONENT_SECRET=changeme
JICOFO_AUTH_USER=focus
JICOFO_AUTH_PASSWORD=changeme
JVB_AUTH_USER=jvb
JVB_AUTH_PASSWORD=changeme
JVB_BREWERY_MUC=jvbbrewery

JVB_PORT=10000
JVB_STUN_SERVERS=meet-jit-si-turnrelay.jitsi.net:443

ENABLE_LOBBY=1
ENABLE_BREAKOUT_ROOMS=1
ENABLE_PREJOIN_PAGE=1
ENABLE_WELCOME_PAGE=1
ENABLE_REACTIONS=1

DEFAULT_LANGUAGE=en
